{% extends 'main/base.html' %}

  {% block content %}
  <h1>Homepage</h1>
  <p>Dnes ma svatek {{svatek}}</p>

  <body>
     <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="https://www.svgrepo.com/show/514340/cell-phone.svg" alt="logo" width="40" height="40" class="d-inline-block align-text-top">
                Turistický průvodce
              </a>

              <nav class="navbar navbar-light bg-light">
                <div class="container-fluid me-2">
                  <form class="d-flex me-3">
                    <input class="form-control me-2 pe-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                </div>
            
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="{% url 'homepage' %}">Homepage</a>
                    <a href="{% url 'one' %}">Pamatky</a>
                    <a href="{% url 'two' %}">Kontaktni informace</a>
                    <span class="d-block text-start ps-0 mt-1">Filtry</span>
                </div>
            </div>

        </div>
      </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <h3> Uvodni text </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quo possimus officiis perferendis modi nostrum nulla fuga sunt maiores deleniti quisquam ex dolorum delectus, rerum laboriosam dolor, minima ab quis?</p>
                </div>
            </div>
        </div>
      </div>

      {% for sight in sights %}
      <h2> {{sight.title.name|upper}} {{sight.location}}</h2>
      <h4>{{sight.description}}</h4>
      {% endfor %}
  
      {% endblock %}
