{% extends 'main/base.html' %}

{% block 'title' %}Homepage | {{ block.super }}{% endblock %}

  {% block content %}
  <h1>Homepage</h1>

  <div class="row">
        <form method="get" action="./">
        <div class="input-group mb-3">
            <input
              type="text"
              name="search"
              value="{{ request.GET.search }}"
              class="form-control"
              placeholder="..."
              aria-label="Hledat"
              aria-describedby="button-addon2"
            >
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Hledat</button>
        </div>
        </form>
    </div>

    <div class="row">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn {% if not categorie %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./">All</a>
            </li>
            {% for c in categories %}
            <li class="list-inline-item">
                <a class="btn {% if c.name == categorie %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./?categorie={{ c.name }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2">
        {% for sight in sights %}
        <div class="col">
            <div class="card h-100" style="cursor: pointer;" >
                <div class="card-body">
                    <h5 class="card-title">{{sight.name}} ({{sight.location}}), {{sight.state}}</h5>
                    
                    {% for categorie in sight.categories.all %}
                    <span class="badge bg-primary">{{categorie.name}}</span>
                    {% endfor %}
                    <p class="card-text ">{{ sight.description|truncatewords_html:30 }}</p>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'sight' sight.id %}" class="btn btn-outline-primary">Detaily</a>
            </div>
        </div>
        {% empty %}
        <p>
          No sights found🤷‍♀️
        </p>
    {% endfor %}
    </div>
  
      {% endblock %}
