{% extends 'main/base.html' %}

{% block 'title' %}Homepage | {{ block.super }}{% endblock %}

  {% block content %}
  <h1>Homepage</h1>

  <div class="row">
        <form method="get" action="./">
        <div class="input-group mb-3">
            <input
              type="text"
              name="search"
              value="{{ request.GET.search }}"
              class="form-control"
              placeholder="..."
              aria-label="Hledat"
              aria-describedby="button-addon2"
            >
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Hledat</button>
        </div>
        </form>
    </div>

    <div class="row">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn {% if not categorie %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./">All</a>
            </li>
            {% for c in categories %}
            <li class="list-inline-item">
                <a class="btn {% if c.name == categorie %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./?categorie={{ c.name }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
  
      {% endblock %}
