{% extends 'main/base.html' %}

{% block title %}{{sight.name}} | {{ block.super }}{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col">
            <a href="{% url 'homepage' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>
    <hr>

    <h1>{{ sight.name }}</h1>

    <p>
        {% if sight.main_picture %}
            <img src="{{sight.main_picture}}" style="height: 100px" alt="Sight picture" class="img-fluid">
        {% else %}
            <img src="//place-hold.it/180x100/" alt="Sight picture" class="img-fluid">
        {% endif %}
    </p>

    <p>
        {% if sight.location %}
            <h6>Lokace: {{ sight.location }}</h6>
        {% endif %}
        {% if sight.state %}
            <h6>Stát: {{ sight.state }}</h6>
        {% endif %}

        {% for categorie in sight.categories.all %}
            <span class="badge bg-primary">{{ categorie.name }}</span>
        {% endfor %}

    <p>
        {{sight.description}}
    </p>
{% endblock %}