{% extends 'main/base.html'%}
<body>
    {% block content %}
    <h1>
        Kontaktni informace
    </h1>
    <h4> Adresa </h4>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, incidunt? </p>
    <img src="https://placehold.co/400x150" alt="map">
    <h4 class="mt-1"> Telefonni cislo </h4>
    <p> +420123456789 </p>
    <h4 class="mt-1"> E-mail </h4>
    <p> turistickypruvodce@gmail.com </p>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
